<div class="innerContainer">
  <h3>{{ albumTitle }}</h3>

  <div class="albumInfo">
    <p><b>Fecha lanzamiento:</b><span> Marzo 2023</span></p>
    <ul>
      <li>Cantidad total de cromos: <b>365</b></li>
      <li>Cantidad de secciones de cromos: <b>5</b></li>
      <li>Cantidad de cromos sección 1: <b>73</b></li>
      <li>Cantidad de cromos sección 2: <b>73</b></li>
      <li>Cantidad de cromos sección 3: <b>73</b></li>
      <li>Cantidad de cromos sección 4: <b>73</b></li>
      <li>Cantidad de cromos sección 5: <b>73</b></li>
      <li>Cromos por sobre: <b>8</b></li>
      <li>Valor sobre:<b> 1E </b></li>
      <li>Mas buscadas: <b>5,8,14,32,322,339</b></li>
    </ul>
  </div>
</div>
